/Próg_rentownoœci_2.pdf
/Wyklad_1.pdf
/Wyklad_2.pdf
/Wyklad_3_prezentacja.pdf
/Wyklad_4_prezentacja.pdf
/Wyklad_5_prezentacja.pdf
/Wyklad_6_NPV_prezentacja.pdf
/Wyklad_7_NPV_probablistycznie.pdf
/Wyklad_8_IRR_prezentacja.pdf
/Zadania NPV.pdf
/Zadania_IRR.pdf
/zad_lab_4.pdf
/zad_lab3_2.pdf
/zad_lab3.pdf
/zad_lab2.pdf
/Wyklad_9_PI_prezentacja.pdf
/MIRR.pdf
/test/
